/*************************
*       Smooth scroll       *
**************************/
html {
    scroll-behavior: smooth;
  }

/*************************
*       REM reset        *
**************************/

:root{ font-size: 62.5%;}

/*************************
*     element reset      *
**************************/

*{ 
   padding: 0;
   margin: 0;
}


/*************************
*      Old browser       *
**************************/

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/*************************
*       Border-box       *
**************************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*************************
*        Clearfix        *
**************************/
.clearfix::after {
    visibility: hidden;
    display: table;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */