
@mixin block-3d ($height , $width, $depth :0px, $color: #fff){
    @if $width == 0 {
        $width: 100%;
    }
    @if $height == 0 {
        $height: 100%;
    }


    .shape:first-child{
        background-color: lighten($color, 3%);
        width: $width;
        height: $depth;
        margin-left:calc(#{$depth} / 1.85);
        transform: skewX(-45deg);
    }
    
    .shape:nth-child(2){
        background-color: $color;
        width: $width;
        height: $height;
        float: left;
    }

    .shape:last-child{
        background-color: darken($color, 5%);
        width: $depth;
        height: $height;
        margin-top:  calc(-#{$depth} / 2);
        margin-left: $width;
        transform: skewY(-45deg);
    }
}