/***********************
*     corner-lines     *
***********************/   
.corner-container{
    position: relative;
    height: 100%;
}

.top-right-corner, .left-bottom-corner{
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
}

.line{
    border-style: solid;
    border-color: $main-color;
    border-width: 0;
}

.top-right-corner{
    top: 30px;
    right: 30px;

    .line-vertical{
        right: 0;
        border-right-width: 1px;
    }
    .line-horizontal{
        right: 0;
        border-top-width: 1px;
    }          
}

.left-bottom-corner{
    bottom: 30px;
    left: 30px;

    .line-vertical{
        border-left-width: 1px;
        bottom: 0;
    }
    .line-horizontal{
        left: 0;
        bottom: 0;
        border-bottom-width: 1px;
    }      
}
.line-vertical{
    display: block;
    height: 50px;
    transition: height .4s ease;
    position: absolute;
}

.line-horizontal{
    display: block;
    width: 50px;
    
    transition: width .4s ease;
    position: absolute;
}
/***********************
*       cathegory      *
***********************/   
.post-block{
    .top-right-corner, .left-bottom-corner{
        transform: translateZ(25px);
    }
}
.post-block:hover {
    .line-vertical{
        height: 100%;
    }
    .line-horizontal{
        width: 100%;
    }
}

/***********************
*        single       *
***********************/   
.single{
    .line-vertical{
        height: 30px;
    }
    
    .line-horizontal{
        width: 30px;
    }

    .top-right-corner{
        top: 25px;
        right: 25px;
    }
    .left-bottom-corner{
        bottom: 25px;
        left: 25px;
    }    
}