// mobile
$menu-size: 56vw;
// desktop
$menu-width-desktop: 75%;
$menu-height-desktop: 20vw;

$menu-list-height-desktop: 260px;
$menu-maxsize-desktop: 300px;
// desktop large
$querysize: 'desktop-xl';

/***********************
*    Global Nav css    *
***********************/
.global-menu__item {
    position: relative;
    height: 25%;
    z-index: -2;
    display: block;
    margin: 0;
    will-change: opacity,transform;

    @include mq('phablet') {
        width: 23.5%;
        height: 100%;
        display: inline-block;
    }
}


.background-3d a{
    background-image: url(../img/image-sheet.png);
    background-size: 630%;
    height: $menu-size;
    width: $menu-size;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 6vw;
    position: absolute;
    color: #fff;

    @include mq('phablet') {
        font-size: 1.8vw;
        line-height: 2.5vw;
        top: 50%;
        bottom: 50%;
        right: 0;
        left: 0;
        margin: auto;
        width: $menu-width-desktop;
        height: $menu-height-desktop;
    }

    @include mq($querysize) {
        font-size: 3rem;
        line-height: 4.1rem;
    }

    span{
        font-family: 'Poppins', sans-serif;
    }
}


.big-menu{
    display: block;
}



/***********************
*        contact       *
***********************/
.contact-link a{
    right: 0;
    background-position: 60% 0;
    color: #77abb5;
    padding-top: 20vmin;
    padding-right: 10%;
    // font-size: 6vw;
    letter-spacing: .6rem;
    line-height: 8.5vw;

    @include mq('phablet') {
        // font-size: 2.5vw;
        line-height: 2.5vw;
        padding-top: $menu-width-desktop/2.7;
        padding-right: 11%;
        max-height: $menu-maxsize-desktop;
        max-width: $menu-maxsize-desktop*.91;
    }
    
    @include mq($querysize) {
        padding-top: $menu-maxsize-desktop/2.9;
        padding-right: 52px;
        font-size: 3rem;
        line-height: 4rem;
    }        
}

.contact-link span.big-menu{
    font-size: 7vw;
    @include mq('phablet') {
        font-size: 2.1vw;
        margin-left: -2px;
    }
    @include mq($querysize) {
        font-size: 3.5rem;
    }      
}

/***********************
*        design       *
***********************/
nav .design-link{
    margin-top: -20vw;
    z-index: 0;
    width: 50%;
    
    @include mq('phablet') {
        margin-top: 0;
        width: 27%; //$menu-height-desktop
    }    
}

.design-link a{
    background-position: 19% 1%;
    padding-top: 45%;
    border-bottom-right-radius: 55%;
    border-bottom-left-radius: 55%;
    border-top-right-radius: 55%;
    
    @include mq('phablet') {
        max-width: $menu-maxsize-desktop*1.05;
        max-height: $menu-maxsize-desktop*1.05;
        padding-top: $menu-width-desktop/2.3;
    }

    @include mq($querysize) {
        padding-top: $menu-maxsize-desktop/2.2;
    }          
}

/***********************
*        web-dev       *
***********************/
nav .web-link{
    margin-top: -8vw;
    z-index: -1;
    
    @include mq('phablet') {
        margin-top: 0;
    }        
}

.web-link a{
    text-align: left;
    padding-left: 18%;
    padding-top: 28%;
    right: 0;
    border-bottom-left-radius: 35%;
    background-position: 40% 1%;
    height: $menu-size*1.1;
    
    @include mq('phablet') {
        padding-top: $menu-width-desktop/1.95;
        padding-left: $menu-width-desktop/3.1;        
        height: $menu-height-desktop*0.965;
        max-height: $menu-maxsize-desktop*1.05;
        max-width: $menu-maxsize-desktop*.95;
    }
    @include mq($querysize) {
        padding-top: $menu-maxsize-desktop/2.1;
        padding-left: $menu-maxsize-desktop/3;
    }        
}

/***********************
*       Mo-graph       *
***********************/
nav .motion-link {
    margin-top: -23vw;

    @include mq('phablet') {
        margin-top: 0;
    }      
}

.motion-link a{
    background-position: 0 0;
    height: $menu-size*1.35;
    padding-top: 32%;
    padding-left: 17%;
    padding-bottom: 15px;
    text-align: left;
    letter-spacing: .4rem;

    @include mq('phablet') {
        padding-left: $menu-width-desktop/3.4;
        padding-top: $menu-width-desktop/1.75;
        padding-bottom: 5%;        
        height: $menu-height-desktop*1.21;
        max-height: $menu-maxsize-desktop*1.25;
        max-width: $menu-maxsize-desktop*.915;
    }   
    @include mq($querysize) {
        padding-top: $menu-maxsize-desktop/1.95;
        padding-left: $menu-maxsize-desktop/3.7;
    }        
}


.motion-link a::first-letter{
    margin-left: 1.5px;
}


/************************************************
*               Homepage Desktop                *
*************************************************/

/*********************************
*            Shapes              *
**********************************/
.home{
    @include mq('desktop') {
        // RESET HAMBURGER MENU
        .hamburger{
            display: none;
        }
        
        .global-menu{
            position: absolute;
            max-width: unset;
            margin-top: 3vh;

            @include mq($querysize) {
                margin-top: 6vh;
            }              
        }
        .global-menu__item{
            transform: scale(1);
            position: absolute;
            pointer-events: auto;
            opacity: 1;
            height: $menu-list-height-desktop;
            transition: none;
            
            a{
                transition: transform .3s ease 0s;

                &:hover{
                    transform: scale(1.07);
                }       
            }     
        }
        // ENDOF RESET HAMBURGER MENU
        .contact-link{
            right: 30px;
        }

        .design-link{

        }

        .web-link{
            right: 10%;
            top: 53vh;
        }

        .motion-link{
            height: $menu-list-height-desktop*1.7;
            top: 42vh;
            left: 10%;
        }
    }      
}