/*********************************
*          Logo & header         *
**********************************/
#logo {
	padding-top: 1px;
	width: 50%;
	margin: auto;

	a {
		display: block;
	}

	h1 {
		font-family: 'icomoon', 'nova', sans-serif;
		text-transform: uppercase;
		text-align: center;
		text-shadow: none;
		font-weight: 400;
		color: #cddcf5;
		font-size: 5rem;
		margin-top: 9px;
	}
}

.back-button {
	position: absolute;
	margin-top: 32px;
	margin-left: 20px;
	cursor: pointer;

	i {
		transform: rotate(180deg);
	}
}

.logo-text {
	display: none;
}

/************************************************
*               Homepage header                *
*************************************************/
.home {
	#logo {
		width: 100%;
		position: relative;
		overflow: hidden;

		@include mq('desktop') {
			height: 100vh;
			max-width: 650px;
			min-height: 800px;
			max-height: 1270px;
			display: block;
			margin: 0 auto;
			width: 55%;
		}

		h1,
		picture,
		.animation-container,
		img {
			@include mq('desktop') {
				width: 550px;
			}

			@include mq('desktop-large') {
				width: 650px;
			}
		}

		h1 {
			text-shadow: 5px -4px #8fa5ca;
			margin-top: 17vh;
			margin-bottom: 13vh;
			margin-left: -5.5px;
			font-size: 13rem;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			@include mq('tablet') {
				font-size: 20.5rem;
				text-shadow: 8px -6.5px #8fa5ca;
				height: 254px;
				line-height: 254px;
				margin-top: calc(17vh + 9px);

				// letter-spacing: .5px;
			}

			@include mq('desktop') {
				margin-left: calc(3vw + 1px);
			}

			@include mq('desktop-large') {
				margin-top: calc(17vh + 11px);
				letter-spacing: -1.3px;
				height: 300px;
				margin-left: -18px;
				line-height: 300px;
				font-size: 24.4rem;
			}
		}

		.animation-container {
			margin-left: calc(3vw + 6px);
			position: absolute;
			top: 17vh;
			height: 0;

			@include mq('desktop-large') {
				margin-left: -13px;
			}
		}

		.logo-overlay {
			position: relative;
			width: 25%;
			opacity: 0;
			height: 300px;
			overflow: hidden;

			&.active {
				opacity: 1;
			}
		}

		picture {
			position: absolute;
			margin-left: 2px;
			height: 100%;
		}
	}

	.back-button {
		display: none;
	}

	@include mq('desktop') {
		.logo-text {
			text-align: center;
			display: block;
			opacity: 0;
			line-height: 3rem;
			animation-name: logo-text;
			animation-iteration-count: infinite;
			animation-duration: 2s;
			animation-delay: 2s;

			i {
				margin-top: 10px;
				transform: rotate(90deg);
			}
		}
	}
}

@keyframes logo-text {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}