/*********************************
*          Logo & header         *
**********************************/
#logo{
    padding-top: 1px;
    a{
        display: block;
    }
    img{
        width: 130px;
        margin-top: 0;
        display: block;
        margin: auto;
    }    
} 

.back-button{
    position: absolute;
    margin-top: 32px;
    margin-left: 20px;

    i{
        transform: rotate(180deg) ;
    }
}

.logo-text{
    display: none;
}

/************************************************
*               Homepage header                *
*************************************************/
.home{
    #logo{
        @include mq('desktop') {
            height: 100vh;
            max-width: 800px;
            min-height: 900px;
            display: block;
            margin: 0 auto;
            width: 55%;
        }
        img{
            width: 100%;
            margin-top: 14vh;
            margin-bottom: 10vh;
        }
    } 
    .back-button{
        display: none;
    }
    @include mq('desktop') {
        .logo-text{
            text-align: center;
            display: block;
            opacity: 0;
            line-height: 3rem;
            animation-name: logo-text;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-delay: 2s;

            i{
                margin-top: 10px;
                transform: rotate(90deg);
            }
        }    
    }
}

@keyframes logo-text {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }