/*********************************
*           variables            *
**********************************/
$bg-shape-depth: 30px;
$project-btn-margin: -10px;
$project-btn-size: 230px;
$project-btn: calc( #{$project-btn-size} + #{$project-btn-margin});
$skill-cube-width: 50px;



/*********************************
*           Home-block           *
**********************************/
.home-section{
    position: relative;
}

.home-content{
    color: $main-color;

    h1{
        line-height: 4rem;
        padding: 13px 0;
    }
}

.title-big{
    font-size: $font-size-big;
    display: block;
    text-transform: uppercase;
    font-family: "spartan", sans-serif;

    @include mq('desktop') {
        font-size: 5rem;
        line-height: 6rem;
    }    
}

.home-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-text{
    display: inline-block;
    line-height: 1.9rem;
}

.user-text{
    display: none;

    @include mq('desktop') {
        display: block;
        position: absolute;
    }    
}

/*********************************
*         Divider-block          *
**********************************/

.divider-block{
    position: relative;
    padding: 1px;
}

.vertical-ruler{
    border-left: 1px solid $main-color;
    height: 100px;
    width: 1px;
    margin: 100px auto;
}

/*********************************
*            Graphics            *
**********************************/
.graphic1, 
.graphic2, 
.graphic3{
    @include sprite('image-sheet', 'webp');
}
.graphic1{
    position: absolute;
    background-size: 870%;
    margin-top: 60px;
    width: 15%;
    height: 23vw;
    min-width: 90px;
    min-height: 130px;
    background-position: 21% 53%;
    transform: rotate(-20deg);
    
    @include mq('desktop') {    
        max-width: 250px;
        max-height: 360px;
        // desktop sheet
        background-position: 63% 97%;
    }
}

.graphic2{
    position: absolute;
    background-size: 440%;
    margin-top: 120px;
    right: 0;
    width: 19%;
    height: 15vw;
    min-width: 130px;
    min-height: 100px;    
    background-position: 39% 53%;
    
    @include mq('desktop') {
        right: 9%;
        margin-top: 30px;
        max-width: 350px;
        max-height: 280px;
        // desktop sheet
        background-position: 89% 97%;
    }
}

.graphic3{
    position: absolute;
    top: -13vw;
    background-size: 665%;
    width: 40vw;
    height: 80vw;
    max-width: 528px;
    max-height: 1050px;
    z-index: -1;
    margin-left: 19%;
    background-position: 0% 100%;
    transform: rotate(90deg);

    @include mq('desktop') {
        margin-left: 10%;
        // width: 30vw;
        // height: 60vw;
        // desktop sheet
        transform: rotate(0deg);
        background-size: 180%;
        background-position: 0% 98%;
        height: 30vw;
        width: 60vw;
        max-width: 1050px;
        max-height: 528px;
        // position: relative;
        top: 0;
        margin-left: -2px;
    }        
}

/*************************
*     Welcome-block      *
**************************/

.welcome {
    min-height: 350px;
    @include mq('desktop') {
        max-width: 1200px;
        width: 70%;
        text-align: right;
        padding-right: 15%;
    }    

    .home-text{
        padding: 30px 3% 0 8%;
        width: 97%;
    }

    .home-content{
        margin-left: 5%;
        display: inline-block;
        width: 75%;
        padding: 50px 2%;
        
        @include mq('desktop') {
            text-align: left;
            width: 50%;
        }
    }

    .ruler{
        width: 80px;
        border-bottom: 1px solid $main-color;
    }

    .ruler2{
        height: 80px;
        border-left: 1px solid $main-color;
        vertical-align: top;
        display: inline-block;
    }

    .user-text{   
        @include mq('desktop') {
            top: 248px;
            left: calc(80% + 37px);
            transform-origin: left bottom;
            transform: rotate(90deg);
        }    
    }

    @include block-3d( 100% , 80% , $bg-shape-depth, $bg-1);
    .shape:first-child{
        width: calc(80% + #{$bg-shape-depth});
        margin-left:calc( 15px - #{$bg-shape-depth});
    }

    // shadow of block
    // &::after{
    //     content:"";
    //     display: block;
    //     position: absolute;
    //     border-radius: 30%;
    //     width: calc(80% + #{$bg-shape-depth});
    //     height: 50px;
    //     box-shadow: 0px 80px 50px rgba(0, 0, 0, 0.05);
    // }
}
/*************************
*  ABOUT & CONTACT block *
**************************/
.about, .contact{
    .home-content{
        box-shadow: 10px 10px 40px #00000024;
        margin: auto;
        width: 80%;
        padding: 20px 5%;

        @include mq('desktop') {
            width: 50%;
            max-width: 800px;
        }        
    }
}
/*************************
*       ABOUT block      *
**************************/

.about{

    .home-content{
        background-color: $bg-2;
        text-align: right;
        padding: 0 5%;

        @include mq('desktop') {
            padding: 5px 5% 30px;
        }  
    }

    h1{
        text-align: left;
        padding: 20px 0;

        @include mq('desktop') {
            padding: 30px 0;
        }  
    }

    .rotate-me{
        display: inline-block;
        vertical-align: top;
        text-transform: lowercase;
        font-size: 2.1rem;
        line-height: 2.1rem;
        height: 15px;
        margin-left: 10px;
        transform-origin: top left;
        transform: rotate(90deg);

        @include mq('desktop') {
            font-size: 2.9rem;
        }            
    }

    .home-text{
        width: 100%;
        padding: 20px 0 20px 40px;
        text-align: justify;

        @include mq('desktop') {
            padding: 30px 0;
            width: 75%;
        }          
    }

    .user-text{
        @include mq('desktop') {
            margin: auto;
            right: 0;
            left: 0;
            top: 220px;
            width: calc(50% + 60px);
            max-width: 860px;
            transform: rotate(-90deg);
            transform-origin: left top;
        }    
    }

    .ruler{
        width: 100px;
        border-bottom: 1px solid $main-color;
        margin-left: 40px;
    }

    .shape1, .shape2, .shape3{
        display: none;
    }
}


/*************************
*      SKILLS block      *
**************************/

.skills{
    width: 85%;
    margin-left: 10%;
    
    @include mq('desktop') {
        margin-left: 47%;
        width: 45%;
        max-width: 800px;
    } 
    
    .home-content{
        padding-right: $bg-shape-depth;
        padding-bottom: $bg-shape-depth;
        position: relative;
    }
    
    h1{
        text-align: right;
        margin-right: 5%;
        padding-bottom: 40px;
    }
        
    .home-text{
        border-left: 1px solid $main-color;
        padding-left: 10px;
        margin-left: 10%;
        margin-top: 10px;
        vertical-align: top;
        width: 85%;
        padding-bottom: 110px;
        min-height: 150px;

        @include mq('desktop') {
            margin-top: 40px;
            width: 70%;
        } 
    }
    .home-bg{
        .shape:first-child{
            background-color: $bg-3;
            width: 100%;
            height: calc(100% - #{$bg-shape-depth} - #{$project-btn});
            float: left; 
    
            @include mq('desktop') {
                height: calc(100% - #{$bg-shape-depth});
            }
        }
    
        .shape:nth-child(2) {
            background-color: darken($bg-3, 3%);
            float: left;
            width: $bg-shape-depth;
            height: calc(100% - #{$bg-shape-depth} - #{$project-btn});
            margin-top: 15px;
            margin-left: -$bg-shape-depth;
            transform: skewY(-45deg);
    
            @include mq('desktop') {
                height: calc(100% - #{$bg-shape-depth});
            }
        }
    
        .shape:last-child{
            background-color: lighten($bg-3, 3%);
            position: absolute;
            width: 100%;
            height: $bg-shape-depth;
            top: calc(100% - #{$bg-shape-depth} - #{$project-btn});
            z-index: -1;
            margin-left: -15px;
            transform: skewX(-45deg);
    
            @include mq('desktop') {
                top: calc(100% - #{$bg-shape-depth});
            }
        }
    }

    .user-text{
        @include mq('desktop') {
            right: -25px;
            top: 265px;
            transform: rotate(90deg);
            transform-origin: top right;
        }    
    }

    .project-btn-container{
        margin-top: $project-btn-margin;
        position: relative;
        &:hover{
            .line-container{
                opacity: 1;
                transform: scale(1.15);
            }
        }
        @include mq('desktop') {
            margin-top: 0px;
            position: absolute;
            top: 20px;
            left: calc(-#{$project-btn-size} / 1.3);
            
            &:hover{
                .project-btn-bg{
                    transform: scale(1.05);
                }
                .project-btn-content, .circle-of-lines{
                    transform: rotate(-8000deg);
                }
                .underline{
                    width: 80%;
                }
            }
        }
    }

    .circle-of-lines, 
    .project-btn-content, 
    .project-btn-bg{
        width: $project-btn-size;
        height: $project-btn-size;
    }
    .circle-of-lines, 
    .project-btn-content {
        right: 0;
        @include mq('desktop') {
            will-change: transform;
            transition: transform 70s ease;
            transition-delay: 1.3s;            
        }
    }

    .circle-of-lines{
        position: absolute;
    }

    .line-container{
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 0;
        will-change: transform, opacity;
        transform: scale(0.8);
        transition: transform .5s ease, opacity .25s;
        @include distribute-on-circle(51, 230px, 10px, false);       
    }
    
    .line{
        height: 10px;
        display: inline-block;
        border-left: 2px solid rgb(253, 169, 124);
    }
    
    .project-btn-bg{
        background-size: 564%;
        background-position: 83.9% 1.5%;
        border-radius: 50%;
        box-shadow: 5px 5px 35px #00000038;
        float: right;
        @include sprite('image-sheet', 'webp');

        @include mq('desktop') {
            transition: transform .5s ease;
            will-change: transform;
        }
    }
    
    .project-btn-content{
        position: absolute;
        top: 0;
    }

    .project-btn  {
        color: $main-color;
        display: block;
        height: 100%;
        padding-top: 75px;
        text-align: center;
        font-size: 2.3rem;
        line-height: 4rem;
    }

    .underline{
        border-bottom: 1px solid $main-color;
        width: 0;
        display: block;
        margin: auto;
        transition: width .5s ease;
        will-change: width;
    }

    .project-btn-span{
        display: block;
        text-transform: uppercase;
        font-family: "spartan";

        @include mq('desktop') {
            font-size: 2rem
        }        
    }

    .icon-arrow{
        margin-top: 6px;
        font-size: 2rem;
    }


    .skill-cube-container{
        position: absolute;
        bottom: 40px;
        right: 30px;
    }
    .skill-block{
        display: inline-block;
        z-index: 1;
        margin-right: 20px;
        transition: transform .5s ease;
        will-change: transform;

        &::after{
            content:"";
            display: inline-block;
            position: absolute;
            border-radius: 30%;
            width: $skill-cube-width *1.3;
            height: 8px;
            margin-top: -$skill-cube-width *1.5;
            // margin-left: 32px;
            box-shadow: $skill-cube-width $skill-cube-width*2 25px rgba(0, 0, 0, .15);
            transform: skewX(-45deg)  translateY(0);
            transition: all .5s ease;
        }

        &:hover{
            transform: translateY(-10px);
            
            &::after{
                box-shadow: $skill-cube-width $skill-cube-width*2 25px rgba(0, 0, 0, .2);
                margin-top: -$skill-cube-width *1.28;
                margin-left: -5px;
                // transform: skewX(-45deg)  translateY(10px);
                width: $skill-cube-width *1.5;
            }
        }
    }

    .skill-logo{
        height: 32px;
        width: 32px;
        margin: 10px auto;
        background-size: 1160%;
        @include sprite('image-sheet', 'webp');
    }
    .cc{
        @include block-3d ( $skill-cube-width ,$skill-cube-width, 15px, rgb(255, 147, 165));
    }
    .cc .skill-logo{
        background-position: 98% 0;
    }

    .wp{
        @include block-3d ($skill-cube-width ,$skill-cube-width, 15px, rgb(128, 208, 228));
    }
    .wp .skill-logo{
        background-position: 98% 80%;
    }
    .laravel{
        @include block-3d ($skill-cube-width ,$skill-cube-width, 15px, rgb(253, 147, 161));
    }
    .laravel .skill-logo{
        margin-top: 12px;
        background-position: 98% 98%;
    }
    .angular{
        @include block-3d ($skill-cube-width ,$skill-cube-width, 15px, rgb(255, 130, 157));
    }
    .angular .skill-logo{
        background-position: 98% 59%;
    }
    .psd{
        @include block-3d ($skill-cube-width ,$skill-cube-width, 15px, rgb(124, 181, 255));
    }
    .psd .skill-logo{
        margin-top: 11px;
        background-position: 98% 39%;
    }
    .ae{
        @include block-3d ($skill-cube-width ,$skill-cube-width, 15px, rgb(248, 123, 200));
    }
    .ae .skill-logo{
        margin-top: 7px;
        background-position: 98% 19%;
    }                    
}

.skills+.divider-block {
    height: 68vw;
    

    @include mq('desktop') {
        max-height: 680px;
    }    

    .vertical-ruler{ 
        display: none;
    }
}

/*************************
*     CONTACT block      *
**************************/

.contact{
    .home-content{
        background-color: $bg-4;
        text-align: center;
        padding-bottom: 50px;

        @include mq('desktop') {
            padding-bottom: 70px;
        }        
    }

    h1{
        margin-left: -60px;
        margin-bottom: 20px;

        @include mq('desktop') {
            margin-left: -160px;
        }  

        .title-big{
            margin-left: 60px;

            @include mq('desktop') {
                margin-left: 160px;
            }  
    
        }
    }

    // contact button [SAY Hi!]
    .contact-btn{
        font-size: 2.3rem;
        display: inline-block;
        background-color: #f5d0b5;
        padding: 10px 30px;
        position: relative;
        border: 2px solid #f3997b;
        margin-bottom: 4px;
        transition: all .3s ease;
        will-change: margin;

    }
    .contact-btn::after, .contact-btn::before{
        content: "";
        position: absolute;
        will-change: margin,width,height;
        transition: all .3s ease;
    }
    .contact-btn:hover{
        background-color: darken(#f5d0b5, 2%);
        margin-top: 4px;
        margin-left: 7px;
        margin-bottom: 0;

        &::before{
            height: 7px;
            bottom: -9px;
            margin-left: 1.5px;
        }

        &::after{
            width: 7px;
            right: -9px;
            margin-top: 1.5px;
        }        
    }
    .contact-btn::before{
        background-color: lighten(#f5d0b5,3%);
        width: calc(100% + 4px);
        height: 10px;
        bottom: -12px;
        margin-left: 3px;
        left: 0;
        border-bottom: none;
        border-top: none;
        transform: skewX(45deg);
    }

    .contact-btn::after{
        background-color: darken(#f5d0b5,3%);
        top: 0;
        right: -12px;
        width: 10px;
        height: calc(100% + 4px);
        margin-top: 3px;
        border-right: none;
        border-left: none;
        transform: skewY(45deg);
    }
    // contact button end [SAY Hi!]

    .home-bg{
        display: none;
    }

    @include mq('desktop') {

        .home-bg{
            display: block;
            margin: auto;
            left: 0;
            right: 0;
            width: 50%;
            max-width: 800px;
        }
        .shape{
            margin-left: -80px;
            margin-top: 16px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            height: 20px;
        }

        .shape:last-child{
            border-bottom: none;
        }

        .user-text{
            transform: rotate(-90deg);
            transform-origin: top left;
            top: 100px;
            left: 0;
            right: 0;
            margin: auto;
            width: calc(50% + 220px);
            max-width: 1010px;
    
        }
    }

}


.home-section:last-of-type{
    margin-bottom: 100px;

    &+.divider-block {
        display: none;
    }
}