/***********************
*     Single global   *
***********************/     
// Graphic1
.single{
    section:nth-child(2n){
        &:before{
            content: "";
            display: block;
            background-size: 1400%;
            height: 120px;
            width: 60px;
            background-position: 58% 50%;
            margin: 30px auto;
            @include sprite('image-sheet', 'webp');
            position: relative;
        }
    }
    // Graphic2
    section:nth-child(2n+1){
        &:before{
            content: "";
            position: relative;
            display: block;
            background-size: 500%;
            height: 100px;
            width: 250px;
            background-position: 79% 50%;
            margin: 70px auto;
            transition: transform .6s ease;
            @include sprite('image-sheet', 'webp');
        }
    }
    // No graphic on intro
    section:first-child{
        &:before{
            display: none;
        }
    }

    section{
        width: 90%;
        margin: auto;
        position: relative;

        &:last-child{
            margin-bottom: 70px;
        }
        @include mq('tablet') {
            max-width: 1100px;
        }
        
        @include mq('desktop') {
            width: 75%;
        }  

    }
    /***********************
    *       Intro block     *
    ***********************/     
    .single-header{
        width: 100%;
        color: $main-color;
        
        header{
            text-align: right;
            margin: 70px 25px;
            
            
            @include mq('tablet') {
                margin: 70px 0 70px auto;
                width: 73%;
                max-width: 900px;
            }         
        }
        
        h1{
            font-size: $font-size-big;
        }
        header h2{
            font-size: $font-size-med;
        }
        
        .intro-block{
            max-width: 1200px;
            margin: auto;

            @include mq('desktop') {
               border-right: 1px solid $main-color;
            }               
        }
        
        .cover-image{
            display: inline-block;
            margin-top: 20px;
            width: 80%;
            height: auto;
            margin-left: 20px;
            max-width: 300px;

            @include mq('tablet') {
                width: 40vw;
                height: 40vw;
                // height: auto;
                max-width: 500px;
                max-height: 500px;
            } 
            
            img{
                width: 100%;
                height: auto;
            }
            canvas{
                z-index: 1;
            }
        }

        .grid__item-img{
            z-index: 1;
        }

        .single-intro{
            position: relative;
            width: 75%;
            min-width: 230px;
            min-height: 250px;
            margin: auto;
            margin-top: -140px;
            margin-left: 18%;
            text-align: right;
            
            @include mq('tablet') {
                display: table;
                margin-left: auto;
            }  
            
            @include mq('desktop') {
                display: table;
                margin-top: -200px;
                // margin-left: 10%;
                min-height: 300px;
            }            
            
            p{
                padding: 30px;
                padding-top: 160px;
                
                @include mq('tablet') {
                    vertical-align: middle;
                    display: table-cell;
                    padding: 40px;
                    padding-left: 50%;
                }
                
                @include mq('desktop') {
                    padding-left: 50%;
                }              
            }
            a{
                text-decoration: underline;
            }
        }
    }
    
    /***********************
    *    iframe/video      *
    ***********************/   
    
    .iframe,
    .video{
        .video-container{
            @include responsive-video-container('iframe');
            @include responsive-video-container('video');
        }
        
        .img-container{
            position: absolute;
            width: 100%;
            bottom: 0;
            opacity: 1;
            transition: opacity 1s ease;
            will-change: opacity;
            
            h2{
                position: absolute;
                color: #fff;
                top: 31px;
                left: 31px;
            }        
        }
        
        .hide-overlay{
            opacity: 0;
        }
        
        .cover{
            overflow: hidden;
            position: relative;
            @include responsive-video-container();
            
            img{
                width: 120%;
                height: auto;
                @include overflow-absolute-center();
            }
        }
        
        .cover-overlay{
            position: absolute;
            background-color: rgba(255, 255, 255, 0.3);
            height: 100%;
            width: 100%;
            top: 0;
            cursor: pointer;
            overflow: hidden;

            &.dark{
                background-color: rgba(100, 100, 100, 0.3);
            }
        }
        
        
        
        .icon-play{
            display: block;   
            height: 100%;
            
            &::before{
                color: white;
                font-size: 3rem;
                width: 30px;
                height: 30px;
                @include overflow-absolute-center();
            }
        }
        
        .line{
            border-color: #FFF;
        }
    }
    
    /***********************
    *        gallery       *
    ***********************/   
    .gallery{
        width: 100%;
        max-width: 1400px;
        
        .carousel-container{
            position: relative;
        }
        
        
        .carousel{
            width: 100%;
            padding: 0 20%;
            white-space: nowrap;
            overflow: hidden;
            
            @include mq('desktop') {
                padding: 10% 22%;
            }            
        }
        
        li,
        a,
        img{
            width: 100%;
            height: auto;
            
        }
        
        li{
            display: inline-block;
            vertical-align: middle;
            opacity: 0;
            visibility: hidden;
            transition: transform .5s ease,opacity .3s ease, visibility .3s ease;
            will-change: transform;
            
            @include mq('desktop') {
                vertical-align: top;
                width: 33%;
                position: relative;
                transform: scale(1.2);
                
                &:hover{
                    // zie carousel.js
                    z-index: 4;
                    transform: scale(1.3);
                }
            }        
        }
        
        li.active,
        .js-active1,
        .js-active2,
        .js-active3{
            opacity: 1;
            visibility: visible;  
        }
        
        .js-active-prev{
            margin-bottom: 45%;
            z-index: 4;
        }      
        .js-active1{
            margin-bottom: 30%;
            z-index: 3;
        }
        .js-active2{
            margin-bottom: 15%;
            z-index: 2;
        }   
        .js-active3{
            z-index: 1;
        }   
        .js-active-next{
            margin-bottom: -15%;
            z-index: 0;
        }  
        
        .prev-button, .next-button{
            text-indent: -9999px;
            width: 20%;
            height: 100%;
            position: absolute;
            
            @include mq('desktop') {
                width: 10%;
                height: 20%;
            }           
        }
        
        .icon-arrow{
            text-indent: 0;
            position: absolute;

            @include mq('desktop') {
                font-size: 2.3rem;
            }                
        }
        
        .prev-button {
            top: 0;

            @include mq('desktop') {
                top:15%;
                left: 20.3%;
            }  

            .icon-arrow{
                top: 0;
                left: 25%;
                transform: rotate(180deg);

                @include mq('desktop') {
                    left: 0%;
                }                  
            }
        }
        .next-button{
            bottom: 0;
            right: 0;

            @include mq('desktop') {
                right: 20.3%;
                bottom: 15%;
            }             
            .icon-arrow{
                right: 25%;
                bottom: 0;

                @include mq('desktop') {
                    right: 0;
                }                 
            }
        }
        
        .no-more-slide{
            animation-name: last-slide;
            animation-iteration-count: 1;
            animation-duration: .5s;
        }   
        
        $displace-distance: 6px;
        @keyframes last-slide {
            0% {transform: translateX(0px);}
            20% {transform: translateX($displace-distance);}
            40% {transform: translateX(-$displace-distance);}
            60% {transform: translateX($displace-distance);}
            80% {transform: translateX(-$displace-distance);}
            100% {transform: translateX(0px);}
        }


    }
    /***********************
    *        image       *
    ***********************/   
    .image img{
        width: 100%;
        height: auto;
    }
    
    /***********************
    *        text       *
    ***********************/   
    
    .text-block{
        a{
            text-decoration: underline;
        }
    }
}